body {
    background-color: ivory;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
form {
    margin-left: 450px;
}
input {
    width: 300px;
}
.button-positioning {
    margin-left: 50px;
}